@font-face {
  font-family: "CanalPlusDemRegular";
  src: url("../fonts/cdemrom-webfont.eot") format("eot"), url("../fonts/cdemrom-webfont.woff") format("woff"), url("../fonts/cdemrom-webfont.ttf") format("truetype"), url("../fonts/cdemrom-webfont.svg#") format("svg"); }
@font-face {
  font-family: "CanalPlusRegular";
  src: url("../fonts/cdemrom-webfont.eot") format("eot"), url("../fonts/cdemrom-webfont.woff") format("woff"), url("../fonts/cdemrom-webfont.ttf") format("truetype"), url("../fonts/cdemrom-webfont.svg#") format("svg"); }
@font-face {
  font-family: "CanalPlusDemRegular";
  src: url("../fonts/cdemrom-webfont.eot") format("eot"), url("../fonts/cdemrom-webfont.woff") format("woff"), url("../fonts/cdemrom-webfont.ttf") format("truetype"), url("../fonts/cdemrom-webfont.svg#") format("svg"); }
@font-face {
  font-family: "CanalPlusRegular";
  src: url("../fonts/cdemrom-webfont.eot") format("eot"), url("../fonts/cdemrom-webfont.woff") format("woff"), url("../fonts/cdemrom-webfont.ttf") format("truetype"), url("../fonts/cdemrom-webfont.svg#") format("svg"); }
.pequeno {
  width: 12em !important;
  height: 12em !important; }

.grande {
  width: 25em !important;
  height: 25em !important; }

.border1 {
  border-color: #ff0000 !important; }

.border2 {
  border-color: #176008 !important; }

.border3 {
  border-color: #0e9eb7 !important; }

.color-1 {
  background-color: #ff0000; }

.color-2 {
  background-color: #176008; }

.color-3 {
  background-color: #0e9eb7; }

.primaria {
  border-color: #8102ff;
  background-color: #f28807; }

.secundaria {
  border-color: #40e21f;
  background-color: #ffe500; }

nav {
  height: 50px;
  background: #65A5EE;
  width: 100%; }
  nav ul {
    -webkit-padding-start: 0px; }
    nav ul li {
      list-style: none;
      float: left;
      cursor: pointer;
      text-align: center;
      width: 16.66667%;
      font-family: "CanalPlusDemRegular"; }
      nav ul li a {
        text-decoration: none;
        color: #fff; }

.contenido {
  clear: both;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-family: "CanalPlusRegular"; }

.contenedor {
  width: auto; }

.caja {
  padding: 2em;
  border: 1px solid #FFF;
  color: #fff;
  overflow: hidden; }

.circulo {
  width: 220px;
  height: 220px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left; }

.cuadrado {
  width: 400px;
  height: 400px;
  border: 1px #fff solid;
  clear: both; }

.botones {
  width: 400px;
  margin: auto;
  float: left; }

.boton, .boton.azul, .boton.rojo {
  padding: 3px;
  border-radius: 5px;
  width: auto;
  max-width: 150px;
  text-align: center; }
  .boton a, .boton.azul a, .boton.rojo a {
    color: #fff;
    text-decoration: none; }
  .boton:hover {
    opacity: 0.5; }

.boton.azul {
  background-color: blue; }

.boton.rojo {
  background-color: red; }

footer {
  clear: both;
  text-align: center; }

body {
  background: #000; }

.wrapper {
  width: 100%;
  margin: auto; }

.content {
  margin: auto; }

/*GRID*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 20px; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.866%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }

  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; } }

/*# sourceMappingURL=estilos-master.css.map */
