//fonts





//declara el valor de la variable que usará font face
$CanalPlusDemRegular:'CanalPlusDemRegular';
$CanalPlusRegular:'CanalPlusRegular';


//mixin de font face que llama a todas las "font-family"
@mixin font-face($family){
	@font-face {
	
		font-family: $family;
		src: url( '../fonts/cdemrom-webfont.eot') format('eot'), 
			 url('../fonts/cdemrom-webfont.woff') format('woff'), 
			 url('../fonts/cdemrom-webfont.ttf')  format('truetype'),
			 url('../fonts/cdemrom-webfont.svg#') format('svg');
	}

}

//mixin de estilos de fuente
@mixin font($font-weight,$font-style) {
	$font-weight:font-weight;
	$font-style:font-style;

}

//llamar a font face
@include font-face($CanalPlusDemRegular);
@include font-face($CanalPlusRegular);
