doctype 
html
	head
	meta(charset='utf-8')
	title Layout
	link(rel="stylesheet", href="css/estilos-master.css")    
	body
		div.wrapper
			div.content
				//header
				include partials/header
				//contenido
				block content
				//pie
				include partials/footer



	

		


	

