// All the colours are set here

$_colour0: transparent;
$_colour1: black;
$_colour2: #fff;
$_colour3: rgb(0,49,51);
$_colour4: hsl(182,20%,50%);
$_colour5: #D8D8D8;


$_colour-grill1: #019c7a; //ocean color
$_colour-grill2: #9FCAA2; //forest color
$_colour-grill3: #D6D29C; //city color


$_colour-confirm: hsl(78, 80%, 37%); //green
$_colour-warning: #ffc53a;            //yellow
$_colour-alert: rgb(128, 0, 24);     //city color
