// All the fonts family and sizes are here


$_font1: helvetica, arial, sans-serif;
$_font2: "Times New Roman", Georgia, Serif;


$_font-small: 18px;
$_font-medium: 22px;
$_font-big: 26px;
$_font-extra-big: 40px;