//CABECERA
nav
	ul
		li 
			span
				a(href="http://www.plus.es/junior/peliculas/") pelis

		li
			span
				a(href="http://www.plus.es/") deportes
		li
			span
				a(href="http://www.plus.es/") series y más

		li#menu_juegaydiviertete
			span
				a(href="http://www.plus.es/") juega y diviértete	

		li 
			span
				a(href="http://www.plus.es/") programas tv

		li#menu_areapadres
			span
				a(href="http://www.plus.es/") área padres



			
			
